PORT=3000
NODE_ENV=production

ADMIN_USERNAME=admin
ADMIN_PASSWORD=ChangeThisPassword123!
SESSION_SECRET=ganti_dengan_random_string_panjang

PUBLIC_API_KEY=sk_live_ganti_dengan_key_rahasia

CAPTCHA_PROVIDER=2captcha
CAPTCHA_API_KEY=
CAPTCHA_AUTO_SOLVE=true

HEADLESS=true
PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium

BASE_URL=https://nama-app-anda.up.railway.app
QUEUE_CONCURRENCY=2
DOCKER_MODE=true